<!DOCTYPE html>
<html lang="pt-br">
<%- include('../partials/head'); %>
<body class="container">
    <%- include('../partials/header', {pagina: 'sobre'}) %>
    <main>
        <div>
            <h1>Sobre mim</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Aspernatur omnis laboriosam doloremque soluta nostrum, 
                voluptas aliquam vero ea enim assumenda amet, nemo minus,
            </p>
        </div>
    </main>
    <%- include('../partials/footer'); %>
</body>

</html>