@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAF7FD;
    color: #BB99DD;
    text-align: center;
}

a {
    text-decoration: none;
}

p.instagram {
    margin: 20px 0;
}

.profileimage {
    border-radius: 100%;
    border: 2px solid #BB99DD;
    padding: 5px;
}

.linkbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px 0;
    width: 330px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #BB99DD;
    color: #BB99DD;
    font-weight: bold; 
}

.link:hover {
    background-color: #ece2f5;
}

.linkbox2 {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.linkbox2 a {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkbox2 a:hover {
    background-color: #ece2f5;
    border-radius: 10px;
}